.page-add-fields {
    overflow-x: hidden;
    border: 1px solid $border-color;

    .file-viewer-container {
        width: 1000px;
    }

    .file-view {
        position: relative;
        width: 100%;
        height: calc(100vh - 140px);
        overflow-y: scroll;
    }


    .file-view-page-info {
        font-size: 1.2rem;
        text-align: center;
    }

    .file-view-page-container {
        opacity: .2;
    }

    .file-view-page-container.active {
        opacity: 1 !important;
    }

    .field-container {
        position: relative;
        padding: 0px;
        margin: 0px;
    }

    .file-view-thumb-container {
        border: 2px solid rgba($primary-color, .2);
        margin-bottom: 5px;
    }

    .file-view-thumb-container.active {
        border: 2px solid $primary-color;
    }

    .file-view-thumb-footer {
        font-size: .7rem;
    }

    // FIELDS
    // fields toolbar

    .focused {
        display: none;
    }

    .field-wrapper {
        padding: 15px;
        border: 1px solid transparent;
        border-radius: 5px;
        cursor: pointer;

        &[data-type="checkbox"] {
            color: $primary;
        }
        &[data-type="radio"] {
            color: $primary;
        }

    }

    .field-wrapper.active {
        background: #fff;
        border: 1px solid $border-color;

        &[data-type="checkbox"] {
            color: $orange;
        }
        &[data-type="radio"] {
            color: $orange;
        }

        .textline-div-field {
            background: $orange;
        }

        .checkbox-div-field {
            border: 4px solid $orange;
        }

        .radio-div-field {
            border: 4px solid $orange;
        }

    }

    .textline-div-field, .number-div-field, .date-div-field {
        resize: none;
        height: 30px;
        width: auto;
        background: rgba($blue, .8);
        padding-right: 15px;
    }

    .checkbox-div-field {
        height: 25px;
        width: 25px;
        border: 4px solid $blue;
    }
    .radio-div-field {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 4px solid $blue;
    }






    // field divs after adding
    .field-div-container {

        .field-div {
            position: absolute;
            top: 0%;
            left: 0%;
            height: 100%;
            width: 100%;
            cursor: pointer;
        }

        .field-status-name-div {
            color: $primary-color;
            font-size: .7rem;
            line-height: 1.3rem;
            white-space: nowrap;
            overflow: hidden;
        }

        // Fields
        .field-div.standard {
            background: rgba($blue, .4);
        }

        .field-div.group {
            background: rgba($purple, .4);
        }

        // radios
        .radio-div {
            border-radius: 50%;
        }

        // field html
        .textline-html {
            height: 100%;
        }
        .checkbox-html, .radio-html {
            height: 100%;
            width: 100%;
            border: 4px solid $blue;
        }
        .radio-html {
            border-radius: 50%;
        }

        .field-div-options {
            position: relative;
            display: none;

            .field-div-controls {
                position: absolute;
                left: 0px;
                right: auto;
                top: -50px;

                &.right {
                    right: 0px;
                    left: auto;
                }
            }
            .field-div-properties {
                position: absolute;
                left: 0px;
                right: auto;
                top: 30px;
                width: 320px;
                z-index: 1;

                &.right {
                    right: 0px;
                    left: auto;
                }
            }
        }

        .dropdown-menu .dropdown .dropdown-menu {
            left: 100%;
            top: 0px;
            margin:0;
            border-width: 1px;

            .dropdown .dropdown-menu {
                top: 0px;
                right: 100%;
                left: auto;

                .dropdown .dropdown-menu {
                    top: 0px;
                    left: 100%;
                    right: auto;
                }

            }
        }
        .dropdown.right .dropdown-menu {
            top: 0px;
            left: 0%;
            right: auto;

            .dropdown.right .dropdown-menu {
                top: 0px;
                right: 100%;
                left: auto;

                .dropdown.right .dropdown-menu {
                    top: 0px;
                    left: 100%;
                    right: auto;
                }

            }

        }
        //dropdown-parent

        .navbar-nav-dropdown ul {
            width: auto !important;

            li {
                width: 100%;

                a {
                    white-space: nowrap;
                }
            }

        }

        // resizable handles
        .ui-resizable-handle {
            position: absolute;
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 10px solid $primary-color;
        }
        .ui-resizable-e {
            bottom: 5px;
            right: -20px;
            cursor: e-resize;
        }
        .ui-resizable-w {
            bottom: 5px;
            left: -20px;
            cursor: w-resize;
            transform: rotate(180deg);
        }


        &.show {
            .field-div-options {
                display: block;
            }
            .field-div.standard {
                background: rgba($blue, .7);
            }
            .field-div.group {
                background: rgba($purple, .7);
            }
        }

    }




    // field divs after dropping
    /* .field-div {
        position: relative;
        z-index: 1;
        resize: both;
        overflow: visible;
        z-index: 3;
        cursor: default;


        .field-options-holder {
            position: absolute;
            top: -70px;
            width: auto;
            background: transparent;

        }

        .btn-group .btn:not(button) {
            margin-right: 2px;
            width: 35px;
            padding: 5px;
        }

        .field-handle {
            cursor: move;
        }
        .field-close {
            cursor: pointer;
        }

        // resizable handles
        .ui-resizable-handle {
            position: absolute;
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 10px solid $primary-color;
        }
        .ui-resizable-e {
            bottom: 5px;
            right: -20px;
            cursor: e-resize;
        }
        .ui-resizable-w {
            bottom: 5px;
            left: -20px;
            cursor: w-resize;
            transform: rotate(180deg);
        }




        .mini-slider-option:hover {
            cursor: pointer;
        }
        .mini-slider-div {
            position: absolute;
            top: 100px;
            left: 30%;
            display: none;
            width: 60px;
            height: auto;
            padding: 5px;
            z-index: 1600;
        }
        .mini-slider-option {
            width: 40px;
            cursor: pointer;
        }




        .field-status-name-div {
            display: none;
            position: absolute;
            bottom: 0px;
            left: 2px;
            //background: rgba(255, 255, 255, .9);
            color: $primary-color;
            font-size: .6rem;
            //line-height: 1.0;
            z-index: 0;
        }

        .field-status-name-div {
            margin-right: 10px;
            white-space: nowrap;
        }

        // edit properties  - limit height
        .modal-body {
            max-height: 75VH;
            overflow: auto;

        }



    } */

    /* .field-error-div {
        background: $red;
        color: $white;
        padding: 15px;
        margin: 0px 40px 20px 40px;
        border-radius: 5px;
    }
    .field-error {
        background: rgba($danger-color, .7) !important;
    }
    .field-error-item {
        padding: 2px 0px 0px 5px;
    }


    .field-div.active {
        z-index: 5;
    } */

    /* .field-data-inputs-container {
        max-height: 200px;
        overflow: auto;
    }

    .field-data-inputs-container .col-12 {
        padding-left: 0px;
        padding-right: 0px;
    } */


    /* .form-div h5 {
        padding-bottom: 5px;
    } */

    /* .edit-properties-container {
        position: absolute;
        top: 30px;
        height: auto;

        &.w-400 {
            width: 400px;
        }
        &.w-600 {
            width: 600px;
        }

        h5 {
            margin-top: 25px;
            margin-bottom: 10px;
        }

        h6 {
            margin-bottom: 1.5rem;
        }

        .form-ele {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    } */

    @media (max-width: 1500px) {
        .edit-file-sidebar {
            display: none;
        }
    }

}

.custom-name-wrapper {
    position: relative;

    .custom-name-results {
        position: absolute;
        top: -15px;
        width: 80%;
        border-color: rgb(120, 196, 231);
        box-shadow: 0 0 5px rgb(120, 196, 231);
        border-radius: 3px;
        background: $white;
        z-index: 1500;

        .dropdown-results-div {
            max-height: 200px;
            width: 254px;
            overflow: auto;
        }
    }

}
