.page-add-fields {
    overflow-x: hidden;
    border: 1px solid $border-color;

    .file-viewer-container {
        width: 1000px;
    }

    .file-view {
        position: relative;
        width: 100%;
        height: calc(100vh - 140px);
        overflow-y: scroll;
    }


    .file-view-page-info {
        font-size: 1.2rem;
        text-align: center;
    }

    .file-view-page-container {
        opacity: .2;
    }

    .file-view-page-container.active {
        opacity: 1 !important;
    }

    .field-container {
        position: relative;
        padding: 0px;
        margin: 0px;
    }

    .file-view-thumb-container {
        border: 2px solid rgba($primary-color, .2);
        margin-bottom: 5px;
    }

    .file-view-thumb-container.active {
        border: 2px solid $primary-color;
    }

    .file-view-thumb-footer {
        font-size: .7rem;
    }

    // FIELDS
    // fields toolbar

    .field-wrapper {
        padding: 5px;
        border: 2px solid transparent;
        cursor: pointer;
    }

    .field-wrapper.active {
        background: #fff;
        border: 2px solid $primary-color;
    }

    .textline-div-field, .number-div-field, .date-div-field {
        resize: none;
        height: 30px;
        width: auto;
        background: rgba($blue, .8);
        padding-right: 15px;
    }

    .checkbox-div-field {
        height: 25px;
        width: 25px;
        border: 4px solid $blue;
    }
    .radio-div-field {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 4px solid $blue;
    }


    // Fields
    .field-div.standard {
        background: rgba($blue, .2);
        cursor: pointer;
    }
    .field-div.standard.active {
        background: rgba($blue, .6);
        cursor: default;
    }
    .field-div.group {
        background: rgba($purple, .2);
        cursor: pointer;
    }
    .field-div.group.active {
        background: rgba($purple, .6);
        cursor: default;
    }

    // radios
    .radio-div {
        border-radius: 50%;
    }


    // field html
    .textline-html {
        height: 100%;
    }
    .checkbox-html, .radio-html {
        height: 100%;
        width: 100%;
        border: 4px solid $blue;
    }
    .radio-html {
        border-radius: 50%;
    }


    // field divs after dropping
    .field-div {
        position: relative;
        z-index: 1;
        resize: both;
        overflow: visible;
        z-index: 3;
        cursor: default;

        /* .field-options-holder {
            position: absolute;
            top: -55px;
            width: 200px;
            overflow: visible;
            background: #fff;
            border: 1px solid $primary-color;
            border-radius: 2px;
            padding: 5px;
        } */

        .field-options-holder {
            position: absolute;
            top: -50px;
            //left:50%;
            //transform: translate(-50%, 0%);
            width: auto;
            background: transparent;
        }

        .btn-group .btn {
            margin-right: 2px;
            width: 45px;
        }

        .field-handle {
            cursor: move;
        }
        .field-close {
            cursor: pointer;
        }

        // resizable handles
        .ui-resizable-handle {
            position: absolute;
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 10px solid $primary-color;
        }
        .ui-resizable-e {
            bottom: 5px;
            right: -20px;
            cursor: e-resize;
        }
        .ui-resizable-w {
            bottom: 5px;
            left: -20px;
            cursor: w-resize;
            transform: rotate(180deg);
        }



        .field-data-inputs-container .col-12 {
            padding-left: 0px;
            padding-right: 0px;
        }


        .mini-slider-option:hover {
            cursor: pointer;
        }
        .mini-slider-div {
            position: absolute;
            bottom: 15px;
            left: 0px;
            display: none;
            width: 60px;
            height: auto;
            padding: 5px;
            z-index: 1600;
        }
        .mini-slider-option {
            width: 40px;
            cursor: pointer;
        }




        .field-status-div {
            display: none;
            position: absolute;
            bottom: 3px;
            left: 2px;
            //background: rgba(255, 255, 255, .9);
            color: $primary-color;
            font-size: .6rem;
            //line-height: 1.0;
            z-index: 0;
        }

        .field-status-name-div {
            margin-right: 10px;
            white-space: nowrap;
        }

        // edit properties  - limit height
        .modal-body {
            max-height: 75VH;
            overflow: auto;
        }

        .field-data-inputs-div {
            position: relative;
        }


    }

    .field-error-div {
        color: $red;
        margin: 7px;
    }
    .field-error {
        background: rgba($danger-color, .7) !important;
    }
    .field-error-item {
        padding: 2px 0px 0px 5px;
    }


    .field-div.active {
        z-index: 5;
    }


    /* .form-div h5 {
        padding-bottom: 5px;
    } */

    #edit_properties_modal {

        h5 {
            margin-top: 25px;
            margin-bottom: 10px;
        }

        .form-ele {
            margin-top: 0.5rem;
            margin-bottom: 0.3rem;
        }
    }

    @media (max-width: 1500px) {
        .edit-file-sidebar {
            display: none;
        }
    }

}
