.page-files {
    overflow: hidden;

    #form_names {
        width: 100%;
        max-height: 200px;
        overflow: auto;
        padding: 10px;

        .form-ele {
            margin-top: 0.1rem;
            margin-bottom: 0.1rem;
        }
    }
    #upload_preview {
        height: 70VH;
        overflow: auto;
    }
    .list-group-container {
        max-height: 78VH;
        overflow: auto;
    }
    .list-group-divs {
        max-height: 66.5VH;
        overflow: auto;
    }

    .list-group .badge {
        width: 30px;
        text-align: center;
    }
    .list-group-header {
        background: $blue-light;
        color: $blue;
        padding: 5px;
    }

    .tab-content {
        padding: 0px !important
    }

    .checklist-count-chip {
        width: 50px;
        text-align: center;
    }

    .uploads-filter-sort, .uploads-filter-published, .uploads-filter-active {
        width: 100px;
    }

    .uploads-list {
        border-radius: 5px;
    }

    .published {
        background: rgba($success, .3);
    }
    .notpublished {
        background: rgba($blue, .1);
    }
    .notactive {
        display: none;
        background: rgba($success, .1);
        opacity: 0.6;
    }

    .modal-xl:not(.normal) {
        max-width: 95VW !important;
        width: 95VW !important;
    }
    .modal-xl .modal-body {
        min-height: 400px;
    }


    .manage-current-checklists {
        height: 63VH;
        overflow: auto;

        .form-ele {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
    .manage-form-options {
        height: 60VH;
        overflow: auto;
    }

    /* .add-to-checklists-div {
        height: 70VH;
        overflow: auto;
        overflow-x: hidden !important;
    } */
    #add_to_checklists_table_filter {
        margin-right: 25px;
    }
    #add_to_checklists_table .form-ele {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #add_to_checklists_table td {
        vertical-align: middle;
    }
    .collapsible-container {
        position: relative;
    }
    .checklist-order {
        padding: 2px;
    }

    .checklist-items-collapsible-container {
        position: relative;
    }

    .checklist-items-collapsible {
        background: #fff;
        width: 80VW;
        position: absolute;
        left: 0px;
        top: 13px;
        z-index: 1000;
        padding: 20px;
    }
    .order-checklist-item-sortable-handle {
        cursor: move;
    }

    .bg-orange-sortable {
        border: 2px dashed $orange;
        height: 50px;
    }

    #add_form_to_checklists_div {
        height: 78vh;
        overflow-y: auto;
        overflow-x: hidden !important;
    }

    // check all checkbox on add form to checklists
    #add_to_checklists_table th {
        .form-check-input[type="checkbox"] + label::before, .form-check-input[type="checkbox"]:not(.filled-in) + label::after, label.btn input[type="checkbox"] + label::before, label.btn input[type="checkbox"]:not(.filled-in) + label::after {
            border: 2px solid #fff;
        }
        .form-check-input[type="checkbox"]:checked + label::before, label.btn input[type="checkbox"]:checked + label::before {
            border-top: 2px solid transparent;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            border-left: 2px solid transparent;
        }
    }

}
