.page-files {
    overflow: hidden;

    .list-group-container {
        max-height: 75VH;
        overflow: auto;
    }
    .list-group-divs {
        max-height: 67VH;
        overflow: auto;
    }

    .tab-content {
        padding: 0px !important
    }

    .published {
        background: rgba($success, .3);
    }
    .notpublished {
        background: rgba($blue, .1);
    }
    .notactive {
        background: rgba($success, .1);
        opacity: 0.6;
    }

    .modal-xl {
        max-width: 80VW !important;
        width: 80VW !important;
    }

    .replace-current-checklists {
        height: 60VH;
        overflow: auto;
    }
    .replace-form-options {
        height: 60VH;
        overflow: auto;
    }

}
