// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #4c9bdb;
$blue-dark: #1972bb;
$blue-darker: #104875;
$blue-med: #6cb2eb;
$blue-light: #ebf1f7;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #b64341;
$orange: #df7935;
$orange-light: #f8e5e3;
$orange-dark: #943d31;
$yellow: #ffed4a;
$yellow-light: #f7efae;
$green: #30a730;
$green-light: #bef1be;
$green-dark: #1b631b;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$default: #647c96;

$theme-colors: (
    "primary": $blue,
    "secondary": $orange,
    "danger": $red,
    "success": $green,
    "default": $default,
    "primary-dark": $blue-dark
);

$primary-color: $blue;
$secondary-color: $orange;
$danger-color: $red;

$border-color: #dee2e6;

$text-gray: #7a7979;

.text-primary-dark {
    color: $blue-dark;
}
.text-default {
    color: $default;
}
.text-blue-light {
    color: $blue-light;
}
.text-yellow-light {
    color: $yellow-light;
}
.text-orange {
    color: $orange;
}
.text-gray {
    color: $text-gray;
}
a.text-orange:hover {
    color: $orange-dark;
}
.text-green {
    color: $green;
}
a.text-green:hover {
    color: $green-dark;
}


.bg-default {
    background: $default !important;
    background-color: $default !important;
}
.bg-default-light {
    background: rgba($default, .4) !important;
    background-color: rgba($default, .4) !important;
}
.bg-primary-light {
    background: rgba($primary-color, .1) !important;
    background-color: rgba($primary-color, .1) !important;
}
.bg-secondary-light {
    background: rgba($secondary-color, .1) !important;
    background-color: rgba($secondary-color, .1) !important;
}
.bg-orange-light {
    background: $orange-light !important;
    background-color: $orange-light !important;
}
.bg-orange {
    background: $orange !important;
    background-color: $orange !important;
}
.bg-blue-light {
    background: $blue-light !important;
    background-color: $blue-light !important;
}
.bg-blue-med {
    background: $blue-med !important;
}

.bg-green {
    background: $green !important;
    background-color: $green !important;
}
.bg-green-light {
    background: rgba($green, .1) !important;
    background-color: rgba($green, .1) !important;
}



.btn-primary {
    background: $blue !important;
}

.btn-danger {
    background: $danger-color !important;
}

.btn-secondary {
    background: $orange !important;
}

.border-orange {
    border: 1px solid $orange !important;
}

