// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #007bff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #ee5a46;
$yellow: #ffed4a;
$green: #30a730;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$theme-colors: (
    "primary": $blue,
    "secondary": $orange,
    "danger": $red
);

$primary-color: $blue;
$secondary-color: $orange;
$danger-color: $red;

.text-orange {
    color: $orange;
}