.form-ele {
    position: relative;

    label {
        z-index: 0;
    }

    .form-input, .form-textarea, .form-select-value-input {
        width: 100%;
        padding: 25px  5px 5px 10px;
        border: 1px solid #ccc;
        color: #686767;
        font-size: 1rem;
    }
    .form-input-label, .form-textarea-label, .form-select-label {
        position: absolute;
        top: 25px;
        left: 10px;
        font-size: 1rem;
        color: #b9b5b5;
        transition: all .3s;
    }
    .form-input-label.active, .form-textarea-label.active, .form-select-label.active {
        position: absolute;
        top: 5px;
        font-size: .7rem;
        color: $blue;
    }

    .form-textarea {
        width: 100%;
        height: auto;
    }

    .form-select-wrapper {
        position: relative;
        height: 60px;
    }
    .form-select-dropdown {
        display: none;
        position: absolute;
        top: 58px;
        left: 0px;
        background: #fff;
        border: 1px solid #ccc;
        width: 100%;
        border-top: none;
        z-index: 101;
    }
    .form-select-search-div {
        display: none;
        width: 100%;
        padding: 8px;
        background: $blue-light;
    }
    .form-select-search-input {
        width: 90%;
    }

    .form-select-options-div {
        margin-top: 5px;
    }
    .form-select-ul {
        list-style: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .form-select-li {
        margin: 0px;
        padding: 10px;
        color: #494949;
        border-bottom: 1px solid #e9e8e8;
    }
    .form-select-li:hover {
        background: $blue-light;
        cursor: pointer;
    }
    .form-select-li.active {
        background: $blue-light;
        border: 1px solid $blue;
    }
}
