

//// MODALS /////

.modal-content {
    border: 1px solid #fff;
    border-radius: 0px;
}

.modal-header {
    border: none;
    border-radius: 0px;
    color: #fff;
}

//#modal_success .modal-header {}


/* .prettydropdown > ul {
    color: #495057 !important;
    border: 1px solid #ced4da !important;
    font-size: 0.9rem !important;
} */

