
* {
    // font-family: 'Roboto', sans-serif;
    font-family: 'Lato', sans-serif;
    // font-family: 'Maitree', serif;
}
a:hover {
    text-decoration: none;
}
.container {
    max-width: 1500px !important;
}

.uppercase {
    text-transform:uppercase
}

/// MODALS /////

.modal-content {
    border: 1px solid #fff;
    border-radius: 0px;
}

.modal-header {
    border: none;
    border-radius: 0px;
    color: #fff;
}

