.page-fill-fields {

    @function strip-unit($value) {
        @return $value / ($value * 0 + 1);
    }

    @mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
        $u1: unit($min-vw);
        $u2: unit($max-vw);
        $u3: unit($min-font-size);
        $u4: unit($max-font-size);

        @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
            & {
                font-size: $min-font-size;

                @media screen and (min-width: $min-vw) {
                    font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
                }

                @media screen and (min-width: $max-vw) {
                    font-size: $max-font-size;
                }
            }
        }
    }

    .btn-group {
        z-index: 500;
    }

    input[type="checkbox"] {
        display: none;
    }

    overflow-x: hidden;
    //border: 1px solid $border-color;

    .file-viewer-container {
        width: 100%;
        max-width: 1100px;
    }

    .file-view {
        position: relative;
        width: 100%;
        height: calc(100vh - 130px);
        overflow-y: scroll;
        overflow-x: hidden;
        -vendor-animation-duration: 2s;
        animation-duration: 2s;
    }

    .file-view-container {
        padding: 8px 0px 0px 0px;
    }

    .file-view-page-container, .file-view-thumb-container {
        -vendor-animation-duration: 8s;
        animation-duration: 8s;
    }


    .file-view-thumb-container {
        border: 2px solid rgba($primary-color, .2);
        margin-bottom: 5px;
        max-width: 100px;
    }

    .file-view-thumb-container.active {
        border: 2px solid $primary-color;
    }

    .file-view-thumb-footer {
        font-size: .7rem;
    }


    // options
    .form-options-container {
        max-width: 100%;
        //overflow-x: auto;
    }
    .form-options-div {
        width: 100px;
        text-align: center;
        white-space: nowrap;
    }

    .fill-form-option {
        width: 100%;
        height: 100%;
        display: block;
        padding: 10px 0px;
    }

    .edit-form-action.active {
        background: $primary;

        &:hover {
            color: $yellow;
        }
    }


    // user fields
    .textline-html {
        height: 100%;
    }

    .field-options-holder {
        position: absolute;
        top: -50px;
        width: 110px;
        width: auto;
        background: transparent;
    }

    .btn-group .btn {
        margin-right: 2px;
        width: 45px;
    }

    .field-handle {
        cursor: move;
    }
    .field-close {
        cursor: pointer;
    }

    // resizable handles
    .ui-resizable-handle {
        position: absolute;
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 10px solid $primary-color;
    }
    .ui-resizable-e {
        bottom: 5px;
        right: -20px;
        cursor: e-resize;
    }
    .ui-resizable-w {
        bottom: 5px;
        left: -20px;
        cursor: w-resize;
        transform: rotate(180deg);
    }

    .ui-resizable-nw {
        top: -15px;
        left: -15px;
        cursor: nw-resize;
        transform: rotate(225deg);
    }
    .ui-resizable-ne {
        top: -15px;
        right: -15px;
        cursor: ne-resize;
        transform: rotate(315deg);
    }
    .ui-resizable-se {
        bottom: -15px;
        right: -15px;
        cursor: se-resize;
        transform: rotate(45deg);
    }
    .ui-resizable-sw {
        bottom: -15px;
        left: -15px;
        cursor: sw-resize;
        transform: rotate(135deg);
    }


    // Fields

    // page container
    .fields-container {
        position: relative;
        padding: 0px;
        margin: 0px;
    }

    /* input.fillable-field-input {
        width: 100%;
        height: 100%;
    } */

    .field-div-container {

        .field-datepicker {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            color: transparent;
            z-index: 1;
        }

        .data-div {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            font-size: .8rem;
            z-index: 0;

            &:not(.data-div-radio-check) {
                padding-left: 2px;
                text-align: center;
            }


        }

        .inputs-container {
            display: none;

            .form-ele {
                margin: 0px;
            }
        }

        .field-options-holder, .field-handle {
            display: none !important;
        }

        &.show {

            z-index: 5;

            .inputs-container {
                display: block;
                position: absolute;
                top: 20px;
                left: 0px;
                right: auto;
                width: 300px;
                z-index: 5;

                &.right {
                    left: auto;
                    right: 0px;
                }
            }

            .field-options-holder, .field-handle {
                display: block !important;
            }
        }

    }

    *[contentEditable="true"]:focus {
        outline: none;
        /* border: 1px solid rgb(120, 196, 231);
        box-shadow: 0 0 5px rgb(120, 196, 231); */
    }

    /* $min_width: 320px;
    $max_width: 1000px;
    $min_font: 6px;
    $max_font: 13px; */
    /* .data-div:not(.data-div-radio-check) {
        //@include fluid-type($min_width, $max_width, $min_font, $max_font);
        padding-left: 2px;
        overflow: hidden;
    } */

    .data-div.data-div-radio-check {
        cursor: pointer;
        font-size: 1.6em;
        font-weight: bold;
        background: rgb(250, 226, 203);
        //background: rgba($orange, .1);
        border: 1px solid rgb(250, 200, 153);
        top: -1px;
        //padding-left: 1px;
        height: 15px;

        &.data-div-radio {
            line-height: 30%;
            padding-top: 1px;
            border-radius: 50%;
        }
        &.data-div-checkbox {
            line-height: 40%;
        }
    }



    // Fields
    .field-div {
        cursor: pointer;
        color: #000;
        box-shadow: none;
        display: block;
        z-index: 3;

        &:not(.radio):not(.checkbox):not(.highlight-div):not(.strikeout-div) {
            background: rgba($orange, .1);
        }

        &.radio, .checkbox {
            background: transparent;
        }
    }

    // user fields
    .user-field-div {
        cursor: pointer;
        box-shadow: none;
        color: #000;
    }

    .user-field-div.highlight-div, .data-div.highlight {
        background: rgba($yellow, .3);
    }
    .data-div.strikeout {
        height: 4px;
    }
    .strikeout-div {
        padding-top: 7px;
    }
    .user-field-div.strikeout-div::after {
        content: '';
        width: 100%;
        height: 4px;
        background: black;
        display: block;
        position: relative;
    }



    // edit file options bar
    .navbar-edit-file-options {
        li:hover {
            background: $blue-light;
        }

    }



}
