.page-document-review {

    .transactions-container {
        position: relative;

        .properties-container,
        .checklist-items-container {
            position: absolute;
            top: -60px;
            left: 0;
            height: 99VH;
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            margin-top: 60px;
            z-index: 1;
        }

        .fa-stack {
            height: 1em;
            line-height: 1em;
            width: 1.5em;
        }

        .notes-count {
            font-size: .8rem;
            bottom: 2px;
        }

        .property-list-header {
            cursor: default;
        }

        .property-item .badge {
            font-size: 100%;
        }

        .checklist-items-container {
            display: none;
            background: #fff;
            z-index: 2;

            .sticky {
                position: sticky;
                top: -12px;
                z-index: 100;
            }

            .checklist-item-dropdown::after {
                display: none;
            }


            .checklist-item-div {

                .status-badge {
                    width: 75px;
                }

            }

            .checklist-item-unused {
                opacity: 0.5;
            }

            .list-group-item.active {
                background-color: rgba($orange, 0.8);
                //border: 1px solid rgba($orange, 1) !important;
                border: none !important;
                margin-top: 15px !important;
                margin-bottom: 15px !important;
            }

            .notes-div {
                max-height: 300px;
                overflow: auto;

                .avatar-initials {
                    height: 40px;
                    width: 40px;
                    text-align: center;
                }

                .mark-read-button {
                    padding: 0.1rem 0.4rem;
                    font-size: 0.65rem !important;
                }
            }


        }

    }

    .documents-container {
        height: 100%;
        overflow: hidden;

        .documents-div {
            height: 92VH;
            overflow: hidden;
        }

        .review-container {
            position: relative;
            height: 92VH;
        }

        .review-image-container {
            height: 85VH;
            overflow-y: auto;
            scroll-behavior: smooth;
            padding-bottom: 25px;

            .review-image-div {
                width: 85%;
            }


        }

        .document-review-image {
            max-width: 100%;
            margin: auto;
            //transform: rotateZ(90deg);
        }

        .document-options-div {
            position: absolute;
            bottom: 0px;
            left: 0px;
            background: #fff;
            border-top: 1px solid $border-color;
            z-index: 1;
        }

        .range-field input[type="range"] {
            width: 100px !important;
        }

        .range-field input[type="range"]+.thumb {
            background-color: $primary !important;
        }

        .zoom-out, .zoom-in {
            cursor: pointer;
        }


    }


    .details-container {

        height: 100%;
        overflow: hidden;

        .details-content {
            height: 73VH;
            overflow-y: auto;
            overflow-x: hidden;
        }


        .transaction-details .badge {
            font-size: 1rem;
            padding: 0.5rem;
            box-shadow: none;
        }

        table.table th, table.table td {
            padding-top: .6rem;
            padding-bottom: .5rem;
        }

        .property-details-table td:first-of-type {
            width: 35%;
        }

        .divider {
            height: 3px;
            background: $primary;
            padding: 0px !important
        }
    }


}

#email_agent_checklist_details {
    height: 0px;
    display: none;
}


.form-groups-container {
    height: 300px;
    overflow: auto;
}

.rejected-reasons-container {
    position: relative;
}

.rejected-reasons-div {
    height: 400px;
    overflow: auto;
}

.rejected-reason {
    cursor: pointer;
}
