.page-add-listing {

    .property-container {
        max-width: 1000px;
    }
    #address_search_container {
        max-width: 750px;
    }
    #mls_search_container {
        max-width: 400px;
    }

    .property-loading-div {
        width: 100%;
        height: 100%;
    }
    #address_search_street, #address_search_unit, #mls_search {
        padding: 10px;
        font-size: 1.2rem;
    }
    #mls_search {
        text-transform: uppercase;
    }

    @include media-breakpoint-up(xs) {
        .property-results-image {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }
    @include media-breakpoint-up(sm) {
        .property-results-image {
            max-width: 400px;
            height: 300px;
            object-fit: center;
        }
    }
    @include media-breakpoint-up(md) {
        .property-results-image {
            height: 200px;
            width: 100%;
		    object-fit: cover;
        }
    }

    .property-details span {
        color: $orange;
    }

}

// google address search
.pac-container {

    .pac-item {
        padding: 10px;
        line-height: 30px;
        font-size: 1rem;
        color: #999;
    }


}

