header {

    .navbar {

    }
    .navbar-dark .navbar-nav .nav-link {
        color: #fff;
    }

    .header-logo {
        max-height: 50px !important;
        max-width: 190px !important;
    }

    .main-search-input.top {
        display: none;
    }
    .main-search-input.bottom {
        display: block;
    }

    .main-search-input {
        width: 250px;
        background: transparent;
        color: #fff;
        padding: 5px;
        border: none;
        border-bottom: 1px solid #fff;
    }
    .main-search-input::placeholder {
        color: white;
    }



    @media only screen and (max-width: 1499px) {
        // hide logo
        .header-logo-link {
            display: none;
        }
        .main-search-input.top {
            display: block;
        }
        .main-search-input.bottom {
            display: none;
        }

    }

    @media only screen and (max-width: 768px) {
        .main-search-input {
            width: 150px;
        }
    }




}

// NAV
.nav-link {
    white-space: nowrap;
}

.dropdown-menu {
    margin-top: 0;
    padding: 5px 10px 5px 6px;
}
.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
}
.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0px;
    /* margin:0 20px;
    border-width: 0; */
    margin:0;
    border-width: 1px;
}

/* .dropdown-menu > li a:hover,
.dropdown-menu > li.show {
    background: #007bff;
    color: white;
}
.dropdown-menu > li.show > a{
    color: white;
} */

/* @media (min-width: 768px) {
    .dropdown-menu .dropdown .dropdown-menu {
        margin:0;
        border-width: 1px;
    }
} */

// END NAV
