header {

    .main-search-div {
        width: 400px;
    }
    #main_search_input {
        width: 100%;
        background: transparent;
        color: #fff;
        padding: 5px;
        border: none;
        border-bottom: 1px solid #fff;
    }
    #main_search_input::placeholder {
        color: white;
    }

    .side-nav .side-nav-link {
        height: 3rem;
        font-size: 1.3rem !important;
        line-height: 3rem;
    }



    @media (max-width: 768px) {
        .main-search-div {
            max-width: 170px;
        }
    }

}
