.page-add-fields {
    width: 100%;
    max-width: 100% !important;

    .file-view {
        position: relative;
        width: 100%;
        height: calc(100vh - 140px);
        overflow-y: scroll;
        margin-left: auto;
        margin-right: auto;
    }


    .file-view-page-info {
        font-size: .8rem;
        text-align: center;
    }

    .file-view-page-container {
        opacity: .2;
    }

    .file-view-page-container.active {
        opacity: 1 !important;
    }

    .field-container {
        position: relative;
    }

    .file-view-thumb-container {
        border: 2px solid transparent;
    }

    .file-view-thumb-container.active {
        border: 2px solid $primary-color;
    }

    .file-view-thumb-footer {
        font-size: .7rem;
    }

    // FIELDS
    // fields toolbar

    .field-wrapper {
        padding: 5px;
        border: 2px solid transparent;
        cursor: pointer;
    }

    .field-wrapper.active {
        border: 2px dotted #090;
    }


    .field-status-div {
        position: absolute;
        bottom: -35px;
        left: 0px;
        background: rgba(255, 255, 255, .9);
        color: $primary-color;
        padding: 5px;
    }



    // Fields

    // textlines
    .text-line-div {
        position: relative;
        padding-bottom: 1px;
        resize: both;
        overflow: visible;
        z-index: 3;
        opacity: .3;
    }
    .text-line-div.active {
        z-index: 5;
        opacity: 1;
    }
    .text-line-div.standard {
        background: rgba($primary-color, .6);
    }
    .text-line-div.group {
        background: rgba($secondary-color, .6);
    }

    .text-line-div-feild {
        resize: none;
        height: 30px;
        width: 200px;
        background: rgba($primary-color, .6);
    }

    .text-line {
        height: 100%;
        border-bottom: 1px solid $primary-color;
    }
    // end textlines

    // field divs after dropping
    .field-div {
        z-index: 1;

        .field-options-holder {
            position: absolute;
            top: -45px;
            width: 200px;
            overflow: visible;
            background: #fff;
            border: 1px solid $primary-color;
            border-radius: 4px;
            padding: 5px;
        }

        .field-handle {
            cursor: move;
        }
        .field-close {
            cursor: pointer;
        }

        // resizable handles
        .ui-resizable-handle {
            position: absolute;
            background-color: $primary-color;
            width: 8px;
            height: 8px;
        }

        .ui-resizable-se {
            bottom: -5px;
            right: -5px;
            cursor: se-resize;
        }
        .ui-resizable-sw {
            bottom: -5px;
            left: -5px;
            cursor: sw-resize;
        }
        .ui-resizable-nw {
            top: -5px;
            left: -5px;
            cursor: nw-resize;
        }
        .ui-resizable-ne {
            top: -5px;
            right: -5px;
            cursor: ne-resize;
        }

        // field specific options

        // textlines
        .field-textline-addline {
            cursor: pointer;
        }
        .add-line-plus {
            position: absolute; top: 6px
        }

        .add-new-line-div {
            display: none;
            position: absolute;
            width: 208px;
            top: -25px;
            left: -20px;
            background: #fff;
            border: 1px solid $primary-color;
            padding: 10px;
            z-index: 5;
        }
        .add-new-line-content {
            text-align: center;
        }

        // properties
        .edit-properties-div {
            display: none;
            position: absolute;
            width: 450px;
            background: #fff;
            border: 1px solid $primary-color;
            padding: 10px;
            z-index: 5;
            text-align: left;
        }


    }

}