.page-checklists {

    .referral-checklist-div {
        display: none;
    }

    .list-group-container {
        max-height: 75VH;
        overflow: auto;
    }
    .list-group-divs {
        max-height: 70VH;
        overflow: auto;
    }
    .tab-content {
        padding: 0px !important
    }
    .checklist-items div {
        font-size: 1rem;
    }

    .checklist-items-container {
        background: rgba(255, 255, 255, 0.8);
    }
    .list-item-handle, .ui-sortable-handle {
        cursor: row-resize;
    }
    .bg-orange-sortable {
        border: 2px dashed $orange;
        height: 50px;
    }
    .bg-orange-sortable-big {
        border: 2px dashed $orange;
        height: 40px !important;
        padding: 5px !important;
    }

    .modal-xl {
        max-width: 98VW !important;
        width: 98VW !important;
    }
    .modal-xl-sm {
        max-width: 70VW !important;
        width: 70VW !important;
    }

    .checklist-items-chip {
        width: 40px;
        text-align: center;
    }

    .checklist-items-selected {
        width: 100%;
        height: 70VH;

        .form-ele {
            margin-top: 0;
            margin-bottom: 0;
        }
        .btn-sm {
            margin: 0;
        }
    }
    .checklist-items-selected {
        width: 100%;
        height: 68VH;
    }
    .form-groups-container {
        height: 55VH;
        overflow: auto;
    }
    .list-group-header {
        background: $blue-light;
        color: $blue;
        padding: 5px;
    }

    .form-name {
        cursor: move;
    }
    .form-selected {
        opacity: 0.5;
        cursor: default;
    }
    /* .checklist-item {
        height: 70px;
    } */
    .checklist-item-helper {
        width: 600px;
        padding: 15px;
        font-size: 1.1rem;
        color: $blue;
        text-align: center;
        background: #fff;
        border: 3px solid $blue;
        opacity: 0.8;
    }

    .checklists-to-export-div, .export-to-form-groups-div {
        max-height: 65VH;
        overflow: auto;
        overflow-x: hidden !important;

        .form-ele {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .addendums_yes {
        color: $green;
    }
    .addendums_no {
        color: $red;
    }

    .list-group-header {
        background: $blue-light !important;
        color: $blue !important;

    }


}
