.page-fill-fields {
    width: 100%;
    max-width: 100% !important;
    overflow-x: hidden;

    .file-viewer-container {
        width: 1100px;
    }

    .file-view {
        position: relative;
        width: 100%;
        height: calc(100vh - 120px);
        overflow-y: scroll;
        // margin-left: auto;
        // margin-right: auto;
    }



    .file-view-page-info {
        font-size: 1.2rem;
        text-align: center;
    }


    .file-view-thumb-container {
        border: 2px solid rgba($primary-color, .2);
        margin-bottom: 5px;
    }

    .file-view-thumb-container.active {
        border: 2px solid $primary-color;
    }

    .file-view-thumb-footer {
        font-size: .7rem;
    }

    .field-toolbar {
        height: 50px;
        border-bottom: 1px solid $primary-color;
    }

    // Fields

    .field-container,
    .field-container-hidden {
        position: relative;
        padding: 0px;
        margin: 0px;
    }

    input.fillable-field-input {
        width: 100%;
        height: 100%;
    }

    .field-datepicker {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        color: transparent;
        z-index: 1;
    }

    .data-div {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .data-div:not(.data-div-radio-check) {
        font-size: 1.2em;
        padding-left: 5px;
    }

    .data-div.data-div-radio-check {
        top: -6px;
        left: 1px;
        font-size: 2em;
        line-height: 80%;
    }



    // Fields
    .field-div {
        background: rgba($orange, .1);
        cursor: pointer;
        color: #000;
        box-shadow: none;
    }

    .field-div.active {
        cursor: default;
        box-shadow: 0px 9px 0px -5px #FFFFFF,
        0px -9px 0px -5px #FFFFFF,
        9px 0px 0px -5px #FFFFFF,
        -9px 0px 0px -5px  #FFFFFF,
        0px 0px 0px 5px $blue,
        5px 5px 10px 5px rgba(0, 0, 0, 0);
    }

    .modal-body {
        max-height: 65VH;
        overflow: auto;
    }

}
