.page-transaction-details {

    min-height: 90VH;

    .header-section {
        max-width: 300px;
    }
    .listing-header-details .btn {
        padding: 0.1rem 0.2rem;
    }

    .nav-link:not(.add-to-checklist):not(.options-tab) {
        text-transform: uppercase;
        font-size: 1.1rem;
        padding: 0.5rem 1.5rem;
        border-radius: 0px;
    }

    .nav-link.active {
        color: $orange;
    }

    #details_tabs {
        z-index: 0;
    }

    .property-image-div img {
        height: 85px;
        border: 1px solid $primary-color;
    }

    .transaction-type {
        font-size: 1.3rem;
    }

    .transaction-sub-type {
        font-size: .8rem;
    }

    .badge:not(.form-pill) {
        padding: .5rem;
        box-shadow: none;
    }

    .cancel-alerts .list-group-item {
        border: none;
    }

    .status-badge {
        padding: 1rem !important;
        padding-left: 0.2rem !important;
        width: 100px;
    }

    .details-main-tabs {
        padding: 0rem;
        padding-top: 1rem;
        border: 1px solid $border-color !important;
        border-top: none !important;
        margin-top: 0px;
    }

    .not-using-heritage {
        display: none;
    }
    .using-heritage {
        width: 130px;
    }

    // bright mls agent search
    #agent_search_div {
        background: rgba($blue, 0.1);
    }
    #agent_search {
        max-width: 300px;
    }
    .search-results-container {
        position: relative;
    }
    .search-results {
        display: none;
        position: absolute;
        top: -10px;
        left: 0;
        max-height: 400px;
        overflow: auto;
        font-size: .9em;
        z-index: 5000;
    }
    .search-result {
        cursor: pointer;
    }
    .search-result:hover {
        color: $orange;
    }
    .get-members-tabs {
        border: none;
    }

    .member-entity-name-div {
        display: none;
    }

    #add_member_div .form-check {
        padding-left: 0px;
    }

    .transaction-details-div {
        width: 100%;
        height: auto;
        padding: 10px 20px;
        border: 1px solid $border-color;
    }

    .confirm-import-image {
        width: 100%;
        max-height: 150px;
    }

    .folder-header {
        border-bottom: 2px solid $border-color;

        .form-ele {
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
        }

    }

    .sortable-documents {
        min-height: 55px;
    }



    .document-div {
        border-bottom: 1px dotted $border-color;
        line-height: 1;

        .form-ele {
            margin-top: .25rem;
            margin-bottom: 0rem;
        }

        .document-title {
            line-height: 1.3rem;
        }

        .btn {
            padding: .2rem .5rem;
        }
        .dropdown-submenu {
            position:relative;
        }
        .dropdown-submenu .dropdown-menu {
            top:0;
            right:100%;
        }

    }

    .bg-sortable {
        width: 100%;
        height: 80px;
        border: 3px dotted $primary;
    }

    .contract-div {
        cursor: pointer;
    }

    .document-div:hover {
        background: $blue-light;
    }



    #upload_documents_modal .form-ele {
        margin-bottom: 0rem;

        .form-select-wrapper {
            height: auto;
        }
    }

    #add_checklist_template_modal .form-ele,
    #add_individual_template_modal .form-ele,
    #add_document_modal .form-ele {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    .checklist-item-dropdown::after {
        display: none;
    }

    .form-name {
        cursor: pointer;
    }

    .form-in-use {
        opacity: 0.6;
    }

    .form-groups-container {
        height: 300px;
        overflow: auto;
    }

    #form_search_div {
        position: relative;
    }

    #form_search_div:after {
        position: absolute;
        font-family: 'Font Awesome 5 Pro';
        top: 0;
        right: 10px;
        content: "\f002";
        color: $primary;
        font-size: 1.6rem;
        z-index: 1;
    }
    .dropleft .dropdown-toggle::before {
        display: inline-block;
        margin-right: 0.255em;
        vertical-align: 0.255em;
        border: none;
        font-family: 'Font Awesome 5 Pro';
        content: "\f0c9";
    }

    .add-docs-div {
        height: 200px;
    }

    .add-buttons-div {
        float: right;

        /* .btn-block {
            padding-right: 1.5rem;
        } */
    }

    .check-preview {
        max-height: 250px;
        overflow: auto;
    }



    #bulk_options_div {
        position: sticky;
        top: 50px;
        background: rgba(255, 255, 255, .9);
        width: 100%;
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        z-index: 5;

    }

    .checklist-group-header {
        border-bottom: 3px solid $border-color;
    }

    .avatar-initials {
        height: 40px;
        width: 40px;
        text-align: center;
    }

    .notes-container {
        max-height: 400px;
        overflow-y: auto;
    }
    .add-notes-div {
        textarea {
            height: 90px;
        }
    }

    .rejected-reasons-container {
        position: relative;
    }
    .rejected-reasons-div {
        height: 400px;
        overflow: auto;
    }
    .rejected-reason {
        cursor: pointer;
    }

    .mark-not-required, .mark-required {
        display: none;
    }

    .checklist-item-options {
        width: 210px;
    }
    /* .checklist-attachment {
        width: 70px;
        text-align: right;
    } */

    #add_to_checklist_documents_wrapper {
        position: relative;
        max-height: 65VH;
        overflow-y: hidden;
        padding-top: 40px;
        padding-bottom: 400px;
    }

    #add_to_checklist_items_wrapper {
        max-height: 68VH;
        overflow-y: auto;
    }

    .doc-list-arrows-div {
        position: absolute;
        top: 7%;
        left: 0px;

    }

    .checklist-item-badge {
        width: 70px;
    }

    .add-to-checklist-document-div {
        &.assigned {
            opacity: 0.5;
            border-color: $success !important;

            &::before {
                font-family: "Font Awesome 5 Pro";
                content: "\2713";
                position: absolute;
                top: -5px;
                right: 3px;
                color: $success;
            }
        }
    }

    /* #add_to_checklist_documents_div {
        min-height: 200px;
    }
    #add_to_checklist_items_div {
        padding-bottom: 100px;
    }


    .checklist-item-droparea {
        width: 96%;
        margin-left: auto;
        margin-right: auto;
        border: 1px dashed $primary;
        min-height: 45px;
    }
    .checklist-item-badge {
        width: 100px;
    }

    .drop-activated, .source-dropped, .doc-match {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        width: 100%;
    }

    .drop-activated {
        border: 1px dashed $success;

        .drop-div-title {
            color: $success;
        }
    }
    .source-dropped {
        background: rgba($success, .5);
        padding: 10px;

        > .text-gray {
            color: white !important;
        }
    }
    .doc-match {
        background: rgba($orange, .7);
    } */

    .template-docs-div .list-group-item {
        padding: 0.3rem 1.25rem !important;
    }

    #email_agent_checklist_details {
        height: 0px;
        display: none;
    }

    .image-container {
        min-height: 320px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

        .image-holder {
            position: relative;
            width: auto;
            height: auto;
            display: inline-block;
            cursor: pointer;

            .document-image {
                max-width: 220px !important;
            }

            .image-options-div {
                position: absolute;
                bottom: 0px;
                left: 15px;

                .add-to-selected-button {
                    display: block;
                }
                .remove-from-selected-button, .image-order {
                    display: none;
                }
                .image-zoom-div {
                    position: absolute;
                    bottom: 0px;
                    right: 30px;
                }
            }

        }
    }

    .selected-images-container{
        min-height: 200px;
        border: 1px solid $border-color;
        height: auto;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

        .image-holder {
            position: relative;
            width: auto;
            height: auto;
            display: inline-block;
            cursor: pointer;

            .document-image {
                max-width: 140px !important;
            }

            .image-options-div {
                position: absolute;
                top: 0px;
                left: 0px;

                .add-to-selected-button {
                    display: none
                }
                .remove-from-selected-button, .image-order {
                    display: block;
                }
                .image-zoom-div {
                    position: absolute;
                    bottom: -26px;
                    right: 5px;

                    .image-zoom-button {
                        padding: 1px 4px;
                    }
                }
            }


        }

    }

    .image-preview {
        max-height: 80VH;
        max-width: 95VW;
    }

    .add-to-checklist-item-list-group {
        max-height: 52VH;
        overflow-y: auto;
    }

    #document_options_tabs_nav {

        .nav-link.active {
            color: $blue;
            background-color: #ffffff;
            border: none !important;
            border-radius: 0px;
        }

    }

    .property-options {
        max-height: 70VH;
        overflow: visible;

    }

    #send_email_modal {

        [class*='col'] {
            padding-left: 3px;
            padding-right: 3px;
        }
        .form-select-wrapper {
            height: auto;
        }
        #email_attachments {
            max-height: 100px;
            overflow: auto;
            font-size: .8rem;
        }

    }

    .buyer-agent-details, .our-agent-div {
        display: none;
    }

    .commission-container {

        .popout-div {
            position: relative;
        }

        .popout {
            display: none;
            position: absolute;
            padding-top: 0px;
            z-index: -1;

            &.active {
                z-index: 1000;
            }

            .view-add-div {
                max-height: 500px;
                overflow-y: auto;
                overflow-x: hidden;
            }

            .check-image-container.inactive {
                opacity: 0.7;
            }

            .check-image-div {
                max-height: 95px;
                overflow: hidden;
            }

        }

        .popout-action {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }

        .popout.top {
            left: 0px;
            top: 0px;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
        }
        .popout.middle {
            left: 0px;
        }
        .popout.bottom {
            left: 0px;
            bottom: .15rem;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-top-left-radius: 8px;
        }

        .check-deductions-div, .commission-deductions-div {
            max-width: 500px;
        }

        .agent-commission.percent {
            width: 170px;
        }

        .notes-container {
            height: 220px;
            overflow: auto;
        }

    }

    .wage-garnishments {
        max-height: 200px;
        overflow: auto;
    }

    .save-split-doc-options {
        min-height: 50VH;
    }



    @media (min-width: 1200px) {
        #split_document_modal_dialog {
            max-width: 95% !important;
        }
    }

    @media (max-width: 1200px) {
        .details-list-group .nav-link {
            font-size: 1rem;
            text-transform: initial;
            padding: 0.5rem 1rem;
        }

        .transaction-type {
            font-size: 1rem;
        }

        .transaction-sub-type {
            font-size: .7rem;
        }

        .badge {
            padding: .5rem .3rem;
        }
    }

    @media (max-width: 992px) {
        .badge {
            padding: .4rem .2rem;
        }

        .form-check {
            padding-left: .7rem;
        }
        .form-check-input[type="checkbox"] + label, label.btn input[type="checkbox"] + label {
            padding-left: 10px;
        }

        .popout {
            position: relative !important;
        }

        #add_to_checklist_documents_wrapper, #add_to_checklist_items_wrapper {
            max-height: 30VH;
            padding-top: 0px;
            padding-bottom: 40px;
        }

        .save-add-to-checklist-footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background: #fff;
        }


    }

    @media (max-width: 768px) {
        .form-check-input[type="checkbox"] + label, label.btn input[type="checkbox"] + label {
            padding-left: 25px;
        }

    }


    @media (max-width: 576px) {

        .details-list-group .nav-link {
            padding: 0.2rem .2rem;
            font-size: .8rem;
        }

        .transaction-type {
            font-size: .9rem;
        }

        .transaction-sub-type {
            font-size: .7rem;
        }

        .badge {
            padding: .3rem;
        }

        .add-docs-div {
            height: auto;
        }

        .add-buttons-div {
            float: none;
        }



        /* .add-notes-div {
            textarea {
                height: 50px;
            }
        }

        #add_to_checklist_items_div {
            padding-bottom: 10px;
        }
        #add_to_checklist_items_wrapper, #add_to_checklist_documents_wrapper {
            max-height: 45VH;
            overflow-y: auto;
        }

        .add-to-checklist-item-list-group {
            max-height: 100%;
        }

        .checklist-item-badge {
            width: 65px;
        } */


    }

    @media (max-width: 450px) {

        .agent-section {
            border: none !important;
        }

    }


    @media only screen and (max-width: 850px) and (min-width: 768px) {
        #bulk_options_div {

            button {
                margin-left: .1rem;
                margin-right: .1rem;
            }
        }
    }

}

.document-loading-container {
    max-height: 500px;
    overflow: auto;
    font-size: .9rem;
}
.progress {
    height: 10px;
}
