.page-required-details {

    .hidden {
        display: none !important;
    }
    .steps-container {
        max-width: 1100px;
    }

    label.invalid {
        display: none !important;
    }

    .address-autocomplete-container {
        position: relative;
    }

    .address-autocomplete-div {
        display: none;
        position: absolute;
        top: -15px;
        left: 0px;
        width: 100%;
        padding: 8px;
        background: #fff;
        border: 1px solid #ccc;
    }

    .buyer-div, .seller-div {

        padding: 10px;
    }

    .not-using-heritage {
        display: none;
    }
    .using-heritage {
        width: 130px;
    }


    // referral

    .receiving, .referring {
        display: none;
    }
    // bright mls agent search
    #agent_search_div {
        background: rgba($blue, 0.1);
    }
    #agent_search {
        max-width: 300px;
    }
    .search-results-container {
        position: relative;
    }
    .search-results {
        display: none;
        position: absolute;
        top: -10px;
        left: 0;
        max-height: 400px;
        overflow: auto;
        font-size: .9em;
        z-index: 5000;
    }
    .search-result {
        cursor: pointer;
    }
    .search-result:hover {
        color: $orange;
    }

    @media (max-width: 1199.98px) {
        .modal-xl {
            max-width: 98% !important;
        }
    }
}
